:root {
    --overlay-color: rgba(193, 40, 51, .9);
    --menu-speed: .75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    background-color: #fff;
}

.wrapper {
    z-index: -1;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: #C12833;
    z-index: 10;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.main-header {
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.main-header h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 4.2rem;
}

.main-header h1 span {
    color: #C12833;
}

.main-header p {
    font-size: 2rem;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 3rem;
}

.card h3 {
    margin-bottom: 1rem;
}

.card img {
    height: 450px;
    max-width: 309px;
}

.card > div {
    padding: 1rem;
}

.card:nth-child(odd) img {
    order: 2;
}

/* card rating */

.card__rating {
    margin-top: .5rem;
    border: none;
}

.card__star {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 1rem;
    background-size: 1rem auto;
    background-repeat: repeat-x;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.card__star:focus {
    outline: none;
}

.card__star:checked,
.card__star:hover {
    background-image: url("/img/star-gold-icon.svg");
}

.card__star:hover ~ .card__star {
    background-image: url("/img/star-black-icon.svg");
}

.card__star:nth-of-type(1) {
    z-index: 5;
    width: 1rem;
}

.card__star:nth-of-type(2) {
    z-index: 4;
    width: 2rem;
}

.card__star:nth-of-type(3) {
    z-index: 3;
    width: 3rem;
}

.card__star:nth-of-type(4) {
    z-index: 2;
    width: 4rem;
}

.card__star:nth-of-type(5) {
    z-index: 1;
    width: 5rem;
}

.card__group {
    position: relative;
    width: 5rem;
    height: 1rem;
    margin-top: .5rem;
    background-image: url("/img/star-black-icon.svg");
    background-size: 1rem auto;
    background-repeat: repeat-x;
}

.card__group:focus-within {
    outline: solid .2rem #C12833;
    outline-offset: .2rem;
}

.btn {
    display: inline-block;
    background-color: #C12833;
    color: #fff;
    padding: .5rem 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #8F191B;
}

/* menu */
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .switch {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .burger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-wrap .burger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.menu-wrap .burger > div::before,
.menu-wrap .burger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background-color: inherit;
}

.menu-wrap .burger > div::after {
    top: 10px;
}

.menu-wrap .switch:checked + .burger > div {
    transform: rotate(135deg);
}

.menu-wrap .switch:checked + .burger > div:before,
.menu-wrap .switch:checked + .burger > div::after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .switch:checked:hover + .burger > div,
.menu-wrap .switch:checked:active + .burger > div {
    transform: rotate(225deg);
}

.menu-wrap .switch:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .switch:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .switch:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity .4s ease;
}

.menu-wrap .switch:checked ~ .burger > div {
    background-color: #fff;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-wrap .menu > div {
    background-color: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 300vw;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all .4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity .4s ease;
}

.menu-wrap .menu ul li {
    list-style: none;
    color: #fff;
    font-size: 2.2rem;
    padding: 1rem;
}

.menu-wrap .menu ul li a {
    color: inherit;
    text-decoration: none;
    transition: all .4s ease;
}

.menu-wrap .menu ul li a:hover,
.menu-wrap .menu ul li a:active {
    color: #E5EAED;
}

::-webkit-scrollbar {
    width: 20px;
    background-color: #000;
}

::-webkit-scrollbar-track {
    border: 5px solid rgba(229, 234, 237, .25);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #C12833, #8F191B);
    border-radius: 15px;
}

@media (max-width: 700px) {
    .card {
        display: block;
    }

    .card img {
        justify-self: center;
    }
}